[submodule "utils"]
	path = utils
	url = git@github.com:Gibgoyt/jetson_cuda
	branch = submodules/utils/master
[submodule "tools/camera-capture"]
	path = tools/camera-capture
	url = git@github.com:Gibgoyt/jetson_cuda
	branch = submodules/tools/camera-capture/master
[submodule "python/training/classification"]
	path = python/training/classification
	url = git@github.com:Gibgoyt/jetson_cuda
	branch = submodules/python/training/classification/master
[submodule "python/training/detection"]
	path = python/training/detection
	url = git@github.com:Gibgoyt/jetson_cuda
	branch = submodules/python/training/detection/master
[submodule "python/training/segmentation"]
	path = python/training/segmentation
	url = git@github.com:Gibgoyt/jetson_cuda
	branch = submodules/python/training/segmentation/master
[submodule "plugins/pose"]
	path = c/plugins/pose
	url = git@github.com:Gibgoyt/jetson_cuda
	branch = submodules/c/plugins/pose/master
[submodule "docker/containers"]
	path = docker/containers
	url = git@github.com:Gibgoyt/jetson_cuda
	branch = submodules/docker/containers/master
[submodule "ros"]
	path = ros
	url = git@github.com:Gibgoyt/jetson_cuda
	branch = submodules/ros/master
